@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

.epilogue-500 {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.epilogue-700 {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  height: 100vh;
  height: 100svh;
  /* display: grid; */
  /* place-content: safe center; */
}

header {
  display: flex;
  padding-block: 2rem;
  padding-inline: 2rem;
  align-items: center;
}
nav {
  display: flex;
  width: 100%;
}

button {
  display: flex;
  align-items: baseline;
  gap: 0.2rem;
}
button > img {
  width: 0.6rem;
}
button:hover {
  cursor: pointer;
}

#hamburger-menu {
  /* align-self: center; */
  margin-inline-start: auto;
}
#hamburger-menu > img {
  height: 100%;
  width: 100%;
}

#features-list,
#company-list {
  position: relative;
  display: inline-block;
}
#desktop-nav {
  display: none;
}
#login-li {
  margin-inline-start: auto;
}
#register-btn {
  border: 1px solid var(--almost-black);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 8px;
}
[popover] {
  inset: unset;
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
  border: none;
  position: fixed;
  top: 0px;
  right: 0px;
  pointer-events: none;

  overlay: none;
}

.features-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  margin-top: 2px;
  color: black;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 200px -30px var(--almost-black);
  width: 7rem;
}

#company-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  margin-top: 2px;
  color: black;

  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 200px -30px var(--almost-black);
  width: 7rem;
}

.features-menu > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.8rem;
}
.features-menu > li > img {
  height: 1rem;
}
[popover]:popover-open + :is(.features-menu, #company-menu) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

#desktop-menu {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 35rem) {
  #hamburger-menu {
    display: none;
  }
  #desktop-nav {
    display: block;
  }
}
