:root {
  --almost-black: hsl(0, 0%, 8%);
}
body {
  height: 100vh;
  height: 100svh;
  /* display: grid; */
  /* place-content: safe center; */
}

button {
  display: flex;
  align-items: baseline;
  gap: 0.2rem;
}
button > img {
  /* height: 0.3rem; */
  width: 0.6rem;
}
button:hover {
  cursor: pointer;
}

#features-list,
#company-list {
  position: relative;
  display: inline-block;
}
#login-li {
  margin-inline-start: auto;
}
[popover] {
  inset: unset;
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
  border: none;
  position: fixed;
  top: 0px;
  right: 0px;
  pointer-events: none;

  overlay: none;
}

.features-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  margin-top: 2px;
  color: black;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 200px -30px var(--almost-black);
  width: 7rem;
}

#company-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  margin-top: 2px;
  color: black;

  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 200px -30px var(--almost-black);
  width: 7rem;
}

.features-menu > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.8rem;
}
.features-menu > li > img {
  height: 1rem;
}
[popover]:popover-open + :is(.features-menu, #company-menu) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

header {
  display: flex;
}
nav {
  display: flex;
  width: 100%;
}

#desktop-menu {
  display: flex;
  flex: 1;
  gap: 1rem;
}

li {
  list-style: none;
}

@media (min-width: 35rem) {
  #hamburger-menu {
    display: none;
  }
}
