@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

.epilogue-500 {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.epilogue-700 {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  height: 100vh;
  height: 100svh;
  display: grid;

  grid-template-rows: auto minmax(0, 1fr);
  min-height: 0;
}

header {
  display: flex;
  align-items: center;

  padding-block: 1.5rem clamp(0rem, -1.4085rem + 6.0094vw, 4rem);
  padding-inline: clamp(0.6rem, -0.1394rem + 3.1549vw, 2.7rem)
    clamp(0.6rem, -0.0338rem + 2.7042vw, 2.4rem);
  /* Mobile */
  /* padding-block: 1.5rem 0rem; */
  /* padding-inline: 0.6rem 0.6rem; */
  /* Desktop */
  /* padding-block: 1.5rem 4rem; */
  /* padding-inline: 2.7rem 2.4rem; */
}
main {
  height: 100svh;
  height: 100%;
  /* grid-row: 2; */

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

  padding-inline: clamp(0rem, -2.9225rem + 12.4695vw, 8.3rem)
    clamp(0rem, -2.1127rem + 9.0141vw, 6rem);
  padding-block-end: clamp(0rem, -1.0563rem + 4.507vw, 3rem);
  /* Desktop */
  /* padding-inline: 8.3rem 6rem; */
  /* padding-block-end: 3rem; */
}
nav {
  display: flex;
  width: 100%;
}

button {
  display: flex;
  align-items: baseline;
  gap: 0.2rem;
  color: var(--medium-gray);
}

button > img {
  width: 0.6rem;
}
button:hover {
  cursor: pointer;
  color: var(--almost-black);
}

.main-text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-inline: clamp(0.6rem, 0.0014rem + 2.554vw, 2.3rem);
  padding-block: clamp(1.1rem, -0.7662rem + 7.9624vw, 6.4rem)
    clamp(0rem, 3.5155rem + -3.9061vw, 2.6rem);
  /* Mobile */
  /* padding-inline: 0.6rem; */
  /* padding-block: 1.1rem 2.6rem; */
  align-items: center;
  /* Desktop */
  /* padding-inline: 2.3rem; */
  /* padding-block: 6.4rem 0rem; */
}
.main-img-container {
  flex: 1;
  /* grid-row: 1; */
}
.main-img-container > img {
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-title {
  font-size: clamp(2.2rem, 1.2493rem + 4.0563vw, 4.9rem);
  padding-block-end: clamp(1.4rem, 0.731rem + 2.8545vw, 3.3rem);
  /* Mobile */
  /* font-size: 2.2rem; */
  line-height: 1;
  max-width: 16ch;
  /* padding-block-end: 1.4rem; */
  text-align: center;
  /* Desktop */
  /* font-size: 4.9rem; */
  /* line-height: 1; */
  /* max-width: 11ch; */
  /* padding-block-end: 3.3rem; */
}
.main-para {
  color: var(--medium-gray);
  text-align: center;
  font-size: clamp(1rem, 0.9542rem + 0.1953vw, 1.13rem);
  padding-block-end: clamp(1.9rem, 1.4423rem + 1.9531vw, 3.2rem);
  /* Mobile */
  /* font-size: 1rem; */
  max-width: 45ch;
  /* padding-block-end: 1.9rem; */
  /* Desktop */
  /* font-size: 1.13rem; */
  /* max-width: 45ch; */
  /* padding-block-end: 3.2rem; */
}
.client-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);

  /* Mobile */
  /* margin-block-start: 2.9rem; */
  /* gap: 2rem; */
  /* Desktop */
  margin-block-start: auto;
  /* gap: 2.5rem; */
}
.client-container > img:first-child {
  /* width: 4.9rem; */
  /* Desktop */
  /* width: 7rem; */

  width: clamp(4.9rem, 4.1606rem + 3.1549vw, 7rem);
}
.client-container > img:nth-child(2) {
  /* width: 3.3rem; */
  /* Desktop */
  /* width: 4.5rem; */
  width: clamp(3.3rem, 2.8775rem + 1.8028vw, 4.5rem);
}
.client-container > img:nth-child(3) {
  /* width: 4rem; */
  /* Desktop */
  /* width: 5.8rem; */
  width: clamp(4rem, 3.3662rem + 2.7042vw, 5.8rem);
}
.client-container > img:last-child {
  /* width: 3.5rem; */
  /* Desktop */
  /* width: 5rem; */
  width: clamp(3.5rem, 2.9718rem + 2.2535vw, 5rem);
}
#learn-btn {
  color: var(--almost-white);
  background-color: var(--almost-black);
  align-self: center;

  padding-block: clamp(0.8rem, 0.7648rem + 0.1502vw, 0.9rem);
  padding-inline: clamp(1.3rem, 1.1063rem + 0.8263vw, 1.85rem);
  font-size: clamp(1rem, 0.9648rem + 0.1502vw, 1.1rem);
  /* Mobile */
  /* padding-block: 0.8rem; */
  /* padding-inline: 1.3rem; */
  border-radius: 15px;
  /* font-size: 1rem; */
  /* Desktop */
  /* padding-block: 0.9rem; */
  /* padding-inline: 1.85rem; */
  /* border-radius: 15px; */
  /* font-size: 1.1rem; */
}

#learn-btn:hover {
  color: var(--almost-black);
  background-color: var(--almost-white);
  border: 1px solid var(--almost-black);
}
#hamburger-menu {
  margin-inline-start: auto;
  align-self: flex-start;
}
#hamburger-menu > img {
  width: 3.2rem;

  /* height: 100%;
  width: 100%; */
}
#close-btn {
  align-self: flex-end;
  padding-block-end: 1.1rem;
}
#close-img {
  width: 2rem;
}
#features-list,
#company-list {
  position: relative;
  display: inline-block;
}
#desktop-nav {
  display: none;
}
#login-li {
  margin-inline-start: auto;
}
#mobile-login-btn,
#mobile-register-btn {
  justify-content: center;
  padding-block: 0.8rem;
}

#mobile-register-btn {
  border: 1px solid var(--almost-black);
  border-radius: 15px;
}
.mobile-btns {
  width: 100%;
}
.mobile-btns > button {
  width: 100%;
}
#mobile-menu:popover-open {
  display: flex;
  border: 0;
  height: 100%;
  width: 65%;
  bottom: 0;
  right: 0;
  left: auto;
  flex-direction: column;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  gap: 1rem;
}

#mobile-menu::backdrop {
  background-color: hsl(from var(--almost-black) h s l / 0.5);
}
.mobile-features-menu,
.mobile-company-menu {
  display: none;
  width: 100%;
}

.show-submenu {
  display: flex;
  flex-direction: column;
}

#register-btn {
  border: 1px solid var(--medium-gray);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 10px;
}
#register-btn:hover {
  border: 1px solid var(--almost-black);
}
:first-child([popover]) {
  inset: unset;
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
  border: none;
  position: fixed;
  top: 0px;
  right: 0px;
  pointer-events: none;

  overlay: none;
}

.features-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  margin-top: 2px;
  color: var(--almost-black);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 200px -30px var(--almost-black);
  width: 7rem;
}

#company-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  margin-top: 2px;
  color: black;

  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 200px -30px var(--almost-black);
  width: 7rem;
}

.features-menu > li,
#mobile-features-menu > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.8rem;
}
.features-menu > li > img,
#mobile-features-menu > li > img {
  height: 1rem;
}
:is(#features-popover, #company-popover):popover-open {
  border: 0;
}
[popover]:popover-open + :is(.features-menu, #company-menu) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

#desktop-menu {
  display: flex;
  align-items: center;
  flex: 1;
  gap: clamp(0rem, -0.8979rem + 3.831vw, 2.55rem);
  /* gap: 2.55rem; */
  padding-inline-start: clamp(0rem, -1.4085rem + 6.0094vw, 4rem);
  /* padding-inline-start: 4rem; */
  align-items: center;
  font-size: 0.9rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--medium-gray);
}
a:hover {
  color: var(--almost-black);
}
@media (min-width: 35rem) {
  #hamburger-menu {
    display: none;
  }
  #desktop-nav {
    display: block;
  }
  #mobile-nav {
    display: none;
  }

  main {
    flex-direction: row;
  }

  .main-title {
    max-width: 11ch;
    text-align: left;
  }
  .main-text-container {
    align-items: flex-start;
  }
  .main-para {
    text-align: left;
  }
  #learn-btn {
    align-self: flex-start;
  }
}
